<div id="question-form">
    <%= form_for @question do |question| %>
        <%= render 'shared/form_error_messages', object: question.object %>
      <div class="row-fluid">
        <div class="span12">
          <%= question.label :title %>
          <%= question.text_field :title, class:"span12", placeholder: "What's your teaching question? Be specific." %>
        </div>

        <div class="span12 no-left-margin">
          <%= question.text_area :text, rows: "15", class:"span12" %>
        </div>

        <div class="span12 no-left-margin">
          <%= question.label :tag_list, "Tags" %>
          <%= question.text_field :tag_list, class: "span12", placeholder: "Tags (separated by commas)" %>
        </div>

        <div class="span12 no-left-margin">
          <%= question.submit "Ask Question", class:"btn btn-monkey" %>
        </div>
      </div>
    <% end %>
</div>