<div class="span2">
  <%= generate_vote_form @question, vote_question_path(@question) %>
</div>

<div class="span10">
  <header class="course-header">
    <h2><%= @question.title %></h2>
  </header>

  <section class="course-info">
    <p class="question"><%= raw parse_text @question.text %></p>
    <p><%= raw @question.tag_list.map {|t| link_to t, tag_questions_path(t), class:"tag_link"}.join(" ") %></p>
  </section>

  <section class="course-info">
    <section>
      <% if @question.answers.any? %>
          <header class="course-header">
            <h3><%= pluralize(@question.answers.count, "Answer") %></h3>
          </header>
          <% @question.answers.each do |answer|  %>
            <p class="question"><%= raw parse_text answer.text %></p>
            <div class="index-profile">
              <%= image_tag answer.user.image.url, alt: "#{answer.user.full_name}" %>
              <span>Created by <%= link_to answer.user.full_name, answer.user %> <%= time_ago_in_words answer.created_at %> ago</span>
              <% if can? :manage, answer %>
				    <span class="actions">
					  <%= link_to "Edit", edit_question_answer_path(answer.question, answer) %> |
                      <%= link_to "Delete", [@question, answer], :method => "delete" %>
				    </span>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </section>
  </section>


  <section class="course-info">
    <header class="course-header">
      <h3>Have an answer?</h3>
    </header>
    <%= form_for [@question, @question.answers.build] do |answer| %>

        <div class="control-group">
          <p class="question">Think you can help? Then, by all means, please provide some insight. Know someone who can? Post this question to Twitter, Facebook, or send it via email! </p>
          <div class="controls">
            <%= answer.text_area :text, rows:"5", class:"span12" %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= answer.submit "Offer an Answer", class:"btn btn-monkey" %>
          </div>
        </div>

    <% end %>

  </section>

</div>

<% content_for :sidebar do %>
      <% content_for :sidebar_profile do %>
            <%= render :partial => 'shared/sidebar_profile', :user => @question.user %>
      <% end %>

      <% content_for :sidebar_invite do %>
            <%= render 'shared/sidebar_invite' %>
      <% end %>

      <%= render 'layouts/application_sidebar' %>
<% end %>