<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= render 'shared/form_error_messages', object: f.object %>

    <div class="row-fluid">
        <div class="span5">
          <%= f.text_field :first_name, placeholder:"Your First Name", class:"span12"%>
        </div>

        <div class="span6">
          <%= f.text_field :last_name, placeholder:"Your Last Name", class:"span10"%>
        </div>
    </div>

    <div class="row-fluid">
      <div class="span10">
        <%= f.text_field :institution, placeholder:"Your School",class:"span12" %>

        <%= f.text_field :email, placeholder:"Your Email Address (will be used to log in)",class:"span12" %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span5">
        <%= f.password_field :password, placeholder:"Choose a Password", class:"span12" %>

      </div>
      <div class="span6">
        <%= f.password_field :password_confirmation, placeholder:"Confirm It", class:"span10" %>
      </div>
    </div>

    <%= f.hidden_field :role, value: "teacher" %>

    <div class="row-fluid">
      <div class="span10">
        <%= f.submit "Sign up for free!", class:"btn static-sign-up-btn span12" %>
      </div>
    </div>

<% end %>