<% provide(:title, "Curriculum Mapping and Performance Development for Educators ") %>
<%= render 'layouts/navbar_chalkboard' %>

<% content_for :chalkboard_promo_text do %>
    <h1>Great Schools begin with Great Teachers.<br/>
        Great Teachers Work Together.
    </h1>
    <h2>Create and share lesson plans. Ask and answer questions. Plus, find great resources quickly. All for free.</h2>
<% end %>
<% content_for :sign_up_form do %>
      <%= render 'registration_form_static' %>
<% end %>
<%= render 'static_pages/hero_chalkboard' %>

<div class="row-fluid leader-div">
  <div class="span12">
    <section class="leader-content">
      <hr class="beige-banner"/>
      <div class="inner-content">
        <header class="intro-content">
          <h1>Curriculum Maps in a Snap.</h1>
          <h3>Student-Centered. Standards Based. Easy to Use.</h3>
        </header>
        <div class="screenshot">
          <%= image_tag "img-curriculum-map.png", class: "feature-image" %>
        </div>
        <div class="feature-paragraph">
          <p class="intro-paragraph">Easily create standards-based courses, units, and lessons with student-centered objectives. Track progress and find opportunities for cross-curricular instruction.</p>
          <%= link_to "Try for Free", request_trial_path , class: "try-it-btn" %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <section class="section-content">
      <hr class="beige-banner"/>
      <div class="inner-content">
        <header class="intro-content">
          <h1>Track Professional Development.</h1>
          <h3>Set Goals. Track Performance. Improve Outcomes.</h3>
        </header>
        <div class="screenshot">
          <%= image_tag "img-teacher-development-plan.png", class: "feature-image" %>
        </div>
        <div class="feature-paragraph">
          <p class="intro-paragraph">Whether you use the Danielson Framework or have your own evaluation system, you can quickly define standards and manage to them.</p>
          <%= link_to "Try for Free", request_trial_path, class: "try-it-btn" %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <section class="section-content">
      <hr class="beige-banner"/>
      <div class="inner-content">
        <header class="intro-content">
          <h1>Set Your Own SLEs.</h1>
          <h3>Plus, a Birdseye View of All Active Instruction.</h3>
        </header>
        <div class="screenshot">
          <%= image_tag "img-set-sles.png", class: "feature-image" %>
        </div>
        <div class="feature-paragraph">
          <p class="intro-paragraph">Every school has it's own areas of focus. Define yours and track progress. Plus, be able to see what's being taught in every classroom today.</p>
          <%= link_to "Try for Free", request_trial_path, class: "try-it-btn" %>
        </div>
      </div>
    </section>
  </div>
</div>
