<div id="comments">
    <% commentable.comment_threads.each do |comment| %>
        <div class="comment">
          <p><%= comment.body %> - <span class="shrink-text"><%= link_to comment.user.full_name, comment.user %>, <%= comment.created_at.strftime("%B %d, %Y") %></span> </p>
          <span><%= link_to "Delete", [commentable, comment], :method => :delete if can? :destroy, comment %> |
            <%= render :partial => 'flags/flag', :locals => {:resource => comment} if can? :flag, Flag %></span>
        </div>
    <% end %>
</div>

<p class="top-margin standard-font">Have a question about this course? Is there something you like? Feedback helps us all improve. Feel free to leave some. The course author will be informed of all comments.</p>
<a id="show-comment">Add a comment</a>

<div id="comment-form">
  <% comment = commentable.comment_threads.build %>
  <% if can? :create, comment %>
      <%= form_for([commentable, comment]) do |f| %>
          <%= f.hidden_field :commentable_id, :value => commentable.id %>
          <%= f.hidden_field :commentable_type, :value => commentable.class %>
          <div class="comment-field">
            <%= f.text_area :body %>
          </div>
          <div class="actions">
            <%= f.submit "Leave a Comment", class:"btn btn-monkey pull-right" %>
          </div>
      <% end %>
  <% else %>
      <em>You need to be friends with this teacher before you can leave comments on their <%= comment.commentable_type.pluralize(2).downcase %>.</em>
  <% end %>
</div>




