<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Lesson Plans", 'course_plan' %></li>
  <li><%= link_to "Classroom Observations", "/demo/classroom_observations" %></li>
  <li><%= link_to "Peer Feedback", "/demo/peer_feedback" %></li>
  <li><%= link_to "Parent Feedback", "/demo/parent_feedback" %></li>
  <li><%= link_to "Student Feedback", "/demo/student_feedback" %></li>
  <li><%= link_to "Professional Development", "/demo/professional_development" %></li>
</ul>