<div class="course-overview" xmlns="http://www.w3.org/1999/html">
    <%= render 'user_course_summary' %>
</div>

<div class="course-overview">
  <%= render 'user_question_summary' %>
</div>

<div class="course-overview">
  <%= render 'user_answer_summary' %>
</div>

<div class="course-overview">
  <header class="course-header">
    <h3>Profile</h3>
  </header>

  <section class="user-content-summary">
    <%= render 'user_education_show' %>
  </section>

  <section class="user-content-summary">
    <%= render 'user_certification_show' %>
  </section>

  <section class="user-content-summary">
    <%= render 'user_awards_show' %>
  </section>

  <section class="user-content-summary">
    <%= render 'user_specializations_show' %>
  </section>

</div>

