<!--rendered in /application.html.erb:21 -->
<div class="span3 bordered">
  <%= image_tag @user.image.url, class:"main-profile-picture", alt: "#{@user.full_name}" %>
</div>
<div class="span9 bordered">
  <%= form_for(@user, :html => {multipart: true, class:"profile-form"}) do |f| %>
      <%= render 'shared/form_error_messages', object: f.object %>
  <div class="span12">
    <ul class="nav nav-pills">
      <li class="active"><a href="#personal" data-toggle="tab">You</a></li>
      <li><a href="#professional" data-toggle="tab">Your Work</a></li>
      <li><a href="#educational" data-toggle="tab">Your Education</a></li>
      <li><%= f.submit "Save Changes", :class => "btn btn-monkey" %></li>
    </ul>
  </div>

  <div class="span12">
    <div class="tab-content" id="profile-tabs">
      <div class="tab-pane active" id="personal">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name, id:"first_name", class:"span6" %>

        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, id:"last_name", class:"span6" %>

        <%= f.fields_for :institution do |school| %>
          <%= school.label :institution, "Where you Work" %>
          <%= school.text_field :institution, placeholder: "Your School", class: "span6" %>
        <% end %>

        <%= f.label :profile_summary, "Your Professional Bio (in 160 characters or less)" %>
        <%= f.text_area :profile_summary, size: "24x4", id:"profile_summary", class:"span6 char-count" %>

        <%= f.label :image, "Your Profile Pic" %>
        <%= f.file_field :image %>

        <%= f.label :links, "How You Connect" %>
        <%= f.fields_for :links do |link| %>
            <%= render 'link_fields', f: link %>            
        <% end %>
        <div class="span12 no-left-margin">
          <%= link_to_add_fields 'Add A Link', f, :links, "btn btn-monkey" %>
        </div>


      </div>

      <div class="tab-pane" id="professional">
        <label>What are your core skills?</label>
        <%= f.fields_for :specialties do |specialty| %>
              <%= render 'specialty_fields', f: specialty %>
        <% end %>
        <%= link_to_add_fields '<i class="icon-plus icon-white"></i>', f, :specialties, "btn btn-monkey" %>

        <label>Have you completed any certifications or won any awards?</label>
        <%= f.fields_for :professional_accomplishments do |professional_accomplishment| %>
              <%= render 'professional_accomplishment_fields', f: professional_accomplishment %>
        <% end %>
        <%= link_to_add_fields "Add a certification or award", f, :professional_accomplishments, "btn btn-monkey" %>
      </div>

      <div class="tab-pane" id="educational">
        <%= f.fields_for :professional_educations do |professional_education| %>
              <%= render 'professional_education_fields', f: professional_education %>
        <% end %>
        <div class="span12 no-left-margin">
          <%= link_to_add_fields 'Add a School', f, :professional_educations, "btn btn-monkey" %>
        </div>

      </div>
    </div>
  </div>
  <% end %>
</div>


<% content_for :sidebar do %>
    <%= render 'user_sidebar' %>
<% end %>

