<h1><%= @video.title %></h1>
<p>
  <%= raw yt_client.my_video(@video.yt_video_id).embed_html %>
</p>
<p>
  Lesson: <%= link_to @video.lesson.lesson_title, [@video.lesson.unit, @video.lesson] %>
</p>
<p>
  Uploaded by <%= link_to @video.user.full_name, @video.user %>
</p>
<p>
  <strong>Description</strong><br />
  <%= @video.description %>
</p>

<div>
  <%= link_to "Edit", edit_video_path(@video), :class => "btn btn-monkey" %> 
  <%= link_to "Delete", video_path(@video), :method => "delete", :class => "btn btn-monkey", :confirm => "Are you sure?" %>
</div>      
