<div id="user-header">
  <%= image_tag @user.image.url, class:"img-polaroid header-profile-picture", alt: "#{@user.full_name}" %>
  <h3><%= link_to "#{@user.full_name}", user_path(@user) %></h3>
  <p><%= @user.institution %></p>
  <%= display_follow_actions @user if @user != current_user %>
  <%= link_to "Edit Profile", edit_user_path(current_user), :class => "btn btn-monkey pull-left" if can? :update, @user %>
</div>