<%= form_for [@unit, @lesson], html: { :multipart => :true} do |lesson| %>
    <%= render 'shared/form_error_messages', object: lesson.object %>


    <%= lesson.label :lesson_title, "What do you want to call this lesson?"%>
    <%= lesson.text_field :lesson_title, id: "lesson_title", placeholder: "Lesson Title", class: 'objectiveable-name', onblur: "retrieveSimilarObjectiveables('Lesson', 'name')" %>

    <%= lesson.label :prior_knowledge, "What do students need to know before you start?" %>
    <%= lesson.text_field :prior_knowledge, id: "prior_knowledge", placeholder:"Prior Knowledge" %>

    <%= lesson.label :objectives, "What will students be able to do when the lesson is over?" %>
    <%= lesson.fields_for :objectives do |objective| %>
        <%= render "shared/objective_fields", f: objective, objectiveable_type: 'Lesson' %>
    <% end %>
    <%= link_to_add_fields '<i class="icon-plus icon-white"></i>', lesson, :objectives, "btn btn-monkey" %>

    <%= lesson.label :assessments, "How will you assess their learning?" %>
    <%= lesson.fields_for :assessments do |assessment| %>
        <%= render "shared/assessment_fields", f: assessment %>
    <% end %>
    <%= link_to_add_fields '<i class="icon-plus icon-white"></i>', lesson, :assessments, "btn btn-monkey" %>

    <%= lesson.label :resources, "What resources will you need?" %>
    <%= lesson.fields_for :resources do |resources| %>
        <%= render 'resource_fields', f: resources %>
    <% end %>
    <%= link_to_add_fields '<i class="icon-plus icon-white"></i>', lesson, :resources, "btn btn-monkey" %>
    
    <p>How long will the lesson last?</p>
    <div class="form-row">
      <div class="span1">
        <%= lesson.label :lesson_start_date, "From:" %>
      </div>
      <div class="span6">
        <%= lesson.text_field :lesson_start_date, class:"datepicker" %>
      </div>
    </div>

    <div class="form-row">
      <div class="span1">
        <%= lesson.label :lesson_end_date, "To:" %>
      </div>
      <div class="span6">
        <%= lesson.text_field :lesson_end_date, class:"datepicker" %>
      </div>
    </div>

    <%= lesson.label :lesson_status %>
    <%= lesson.select(:lesson_status,[['Not Yet Started', 'Not Yet Started'], ['Started', 'Started'], ['Complete', 'Complete']] ) %>


    <div class="two-column-form">
      <div class="pull-left">
        <%= lesson.submit "Submit", name:"return_to_profile", class:"btn btn-monkey" %>

      </div>
      <div class="pull-right">
        <%= lesson.submit "Add Another Lesson", name: "add_another_lesson", class:"btn btn-monkey" %>

      </div>
    </div>
<% end %>

<%= content_for :sidebar do %>
    <%= content_for :sidebar_invite do %>
        <%= render 'shared/sidebar_invite' %>
    <% end %>
    <%= render 'layouts/application_sidebar' %>
    <%= render 'shared/sidebar_related_lessons' %>
<% end %>
