<%= wicked_pdf_stylesheet_link_tag "application" %>

<div class="span1 hidden-print">

</div>
<div class="span11" id="syllabus">
  <% present @course do |course_presenter| %>
    <header class="course-header show-print">
      <div class="span12">
        <h2><%= course_presenter.full_name %><br/>
            <%= "#{course_presenter.grade_level}, #{course_presenter.taught_during}" %>
        </h2>
      </div>
    </header>

    <header class="course-header top-margin hidden-print">
      <div class="row-fluid">
        <div class="span12">
          <h2><%= link_to "#{course_presenter.course_name.titleize}", course_path(@course), class:"disguised-header-link" %></h2>
        </div>
        <div class="span12 no-left-margin">
          <h2><%= course_presenter.grade_level %>, <%= course_presenter.taught_during %></h2>
        </div>  
      </div>
    </header>

    <section class="course-info">
      <header>
        <h2>Course Summary</h2>
      </header>
      <article>
        <p><%= course_presenter.course_summary %></p>
      </article>
    </section>

    <section class="course-info">
      <header>
        <h2>Course Objectives</h2>
      </header>
      <article>
          <%= course_presenter.course_objectives %>
      </article>
    </section>

    <section class="course-info">
      <header>
        <h2>Tags</h2>
      </header>
        <%= course_presenter.tags %>
    </section>

    <% course_presenter.units.each do |unit| %>
      <%= render partial: 'courses/unit_detail.html.erb', locals: {:unit => unit} %>
    <% end %>
  <% end %>
</div>