<% provide(:title, "#{@course.course_name} Unit Calendar") %>
<div class="row-fluid">
	<%= render 'shared/user_header' %>

	<header class="course-header">
		<%= render 'courses/course_header' %>
	</header>

	<table>
		<tr>
			<% @months.map do |m| %>
				<td><%= m %></td>
			<% end -%>
		</tr>
		<tr>
			<td>
				Unit Title
			</td>
			<%= @months.collect do %>
				<%= content_tag :td do %>
					<% @units_by_date[@date].each do |unit| %>
						<%= unit.unit_title %>
					<% end -%>
				<% end -%>
			<% end -%>

		</tr>
		

	</table>	

	<%= javascript_tag do %>
		var data = d3.json('../1/unit_calendar.json', function(error, data){
			console.log(data.course_name);	
	});
		
	<% end -%>	





</div>

