<%= form_for @lead, remote: true do |lead| %>
    <% if @lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
        <ul>
        <% @lead.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= lead.label "Name: " %>
    <%= lead.text_field :name, placeholder: "Full Name", id:"name" %>

    <%= lead.label "Role: " %>
    <%= lead.select(:role, options_for_select([['Teacher', 'teacher'],['Administrator', 'administrator']])) %>


    <%= lead.label "School: " %>
    <%= lead.text_field :school, placeholder: "School", id:"school" %>

    <%= lead.label "Email: " %>
    <%= lead.text_field :email, placeholder: "Email Address", id:"email" %>

    <%= lead.submit "Request Access!" %>

<% end %>