<div class="accordion">
  <% @unit.lessons.each do |lesson| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapse_<%= lesson.id  %>"><%= lesson.lesson_title.titleize %></a>
          <% if can? :update, @unit %>
              <a class="pull-right edit-unit-lesson" href="<%= unit_lesson_path(@unit, lesson) %>"><i class="icon-pencil"></i></a>
          <% else %>
              <a class="see-unit-lesson pull-right" href="<%= unit_lesson_path(@unit, lesson) %>"><i class="icon-search"></i></a>
          <% end %>
        </div>
        <div id="collapse_<%= lesson.id %>" class="accordion-body collapse">
          <% lesson.activities.each do |activity| %>
              <div class="accordion-inner">
                <%= activity.activity %>  (<%= activity.duration %>)
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>