<% provide(:title, "#{@unit.unit_title}") %>
<div class="row-fluid">
  <%= render 'shared/user_header' %>
  <div class="unit-header">
    <p class="calendar">
      <%= @unit.expected_start_date.strftime("%B %d") %> - <%= @unit.expected_end_date.strftime("%B %d, %Y") %>
    </p>
    <h2>
      <span>
        <%= link_to "#{@course.course_name.titleize}", course_path(@course), class:"disguised-header-link" %> / <%= @unit.unit_title.titleize %>
      </span>
      <span>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_course_unit_path(@course, @unit), class:"edit-course-unit" if can? :edit, @unit %>
      </span>
    </h2>
  </div>

  <div class="course-organizer">
    <div class="box-row">
      <div class="span12 box-bottom-margin">
        <div class="span6 box no-left-margin height7 ">
          <h3>Standards Met</h3>
          <div class="corestandards-accordion">
            <% @unit.lessons.each do |lesson| %>
              <h3><%= lesson.lesson_title %></h3>
              <div>
                  <%= display_standards_for_lesson lesson%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="span6 box height7 assessable">
          <h3>Assessments
            <span>
              <%= link_to '<i class="icon-plus"></i>'.html_safe, new_unit_assessment_path(@unit), class:"add-unit-assessment", remote: true if can? :edit, @unit %>
            </span>
          </h3>
          <%= unit_assessments(@unit) %>
        </div>
      </div>

      <div class="span12 box-bottom-margin no-left-margin">
        <div class="span6 box no-left-margin height7 content-covered">
          <h3>Content Covered
            <span>
              <%= link_to '<i class="icon-plus"></i>'.html_safe, new_unit_content_unit_path(@unit), class:"add-content-objective", remote: true if can? :edit, @unit %>
            </span>
          </h3>
          <%= unit_content(@unit) %>
        </div>

        <div class="span6 box height7 skill-covered">
          <h3>Skills
            <span>
              <%= link_to '<i class="icon-plus"></i>'.html_safe, new_unit_skill_unit_path(@unit), class:"add-skill-objective", remote: true if can? :edit, @unit %>
            </span>
          </h3>
          <%= unit_skills(@unit) %>
        </div>
      </div>

      <div class="span12 box-bottom-margin no-left-margin">
        <div class="span6 box no-left-margin height7">
          <h3>Unit Lessons
              <span>
                <%= link_to '<i class="icon-plus"></i>'.html_safe, new_unit_lesson_path(@unit), class:"header-edit", id:"add-lesson" if can? :edit, @unit %>
              </span>
          </h3>
          <%= unit_lessons(@unit) %>
        </div>

        <div class="span6 box height7">
          <h3>Other Units</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="span12 box-bottom-margin no-left-margin">
    <header class="course-header">
      <h2>Comments</h2>
    </header>
    <section class="course-info">
      <%= render :partial => 'comments/comments', :locals => {:commentable => @unit} %>
    </section>
  </div>

</div>

<% content_for :sidebar do %>

    <%= render 'layouts/application_feed' %>

<% end %>



