<li class="post" id="<%= micropost.id %>" data-id="<%= micropost.id %>">
	<div class="feed-image">
		<%= image_tag micropost.user.image.url, alt: "#{micropost.user.full_name}" %>	
	</div>
	<span class="user">
		<%= link_to "#{micropost.user.full_name}", user_path(micropost.user)%>
	</span>
	<span class="content">
		<%= auto_link(micropost.content) %>
	</span>
	<span class="timestamp">
		<%= time_ago_in_words(micropost.created_at) %>
	</span>
</li>
