<li id="<%= dom_id(activity) %>">
  <%= activity.activity %> - <%= activity.duration %>, <span><%= activity.agent %></span>
  <span><%= link_to '<i class="icon-trash"></i>'.html_safe, [activity.lesson, activity], method: :delete, remote: true if can? :destroy, activity %></span>
</li>